#  Configuration
DISCORD_TOKEN=YOUR_BOT_TOKEN
CLIENT_ID=YOUR_BOT_CLIENT_ID
GUILD_ID=YOUR_GUILD_ID
# Chaching 
AI_CACHE_MAX=5 # More cache means less API calls but more memory usage. Adjust as needed.
# BackUps & Main Logs
REPORTS=YOUR_REPORTS_WEBHOOK_URL
LIVE_CHANNEL_ID=YOUR_LIVE_CHANNEL_ID
BACKUP_CHANNEL_ID=YOUR_BACKUP_CHANNEL_ID
#  Api Keys
GROQ_KEY=YOUR_GROQ_KEY # Main Key
VIRUSTOTAL_API_KEY=YOUR_VIRUSTOTAL_API_KEY # VirusTotal Key
